.gallery .pics {
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
    cursor: pointer;
    margin-bottom: 12px;
}

.pics img{
    object-fit: cover;
    width: 250px;
    height: 250px;
    border-radius: 10%;
    transition: all 0.35s ease;
}

.pics img:hover{
    scale: 108%;
}